@use '../1-utilities/' as *;
@use '../2-components/' as *;

.about{
    margin:5rem auto;
    display:flex;
    justify-content:center;
    position:relative;
    &__wrapper{
        margin:0 1rem;
        max-width:1100px;
        width:100%;
        display:flex;
        align-items:center;
        flex-direction:column;
        
    }
    &__profile{
        width:100%;
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
    }
    &__image{
        display:flex;
        justify-content: center;
        margin-top:1rem;
        cursor:pointer;
        border-radius:5px;
        flex: 0 1 25rem;
        overflow:hidden;
        img{
            transition:transform 1s ease;
            object-fit: contain;
        }
        &:hover > img{
            transform:scale(1.1);
        }
    }
    &__info{
        flex:1;
        margin-top:1rem;
        margin-left:5rem;
        padding-left:5rem;
        display:flex;
        justify-content: center;
        position:relative;
        text-align:left;
        &::before{
            content:'';
            display:flex;
            height:8rem;
            width:1px;
            top:0;bottom:0;left:0;
            align-items:center;
            margin:auto 0;
            background:getColor(lightGray);
            position:absolute;
        }
    }
    &__desc{
        width:100%;
        &--highlight{
            color:getColor(purple);
        }
        &--text{
            color:getColor(text);
            line-height:1.6rem;
            font-size:rem(1.4);
            margin-bottom:1.5rem;
            @extend %b-400;
        }
    }
    &__techStack{
        display:flex;
        font-size:rem(4);
        transition:all .3s linear;
        &:not(:last-child){
            margin-bottom:1.5rem;
        }
        &--hover{
            display:block;
            transition:all .2s linear;
            margin-right:1.5rem;
            color:getColor(text);
            &:hover{
                filter:brightness(0.5);
            }
        }
    }
    @media screen and (max-width:881px){
        margin:2rem 0;
        &__desc{
            display:flex;
            flex-direction:column;
            align-items:center;
            &--highlight{
                color:getColor(purple);
            }
            &--text{
                line-height:1.6rem;
                font-size:rem(1.4);
            }
        }
        &__image{
            margin-bottom: 1rem;
            max-height:15rem;
            flex: auto;
            img{
                width:100%;
                object-fit:cover;
            }
        }
        &__info{
            flex:auto;
            padding:0;
            margin:1rem 0;
            text-align:center;
            &::before{
                content:'';
                display:flex;
                height:1px;
                width:8rem;
                top:0;bottom:0;left:0;right:0;
                justify-content:center;
                margin:0 auto;
                background:getColor(lightGray);
                position:absolute;
            }
        }
        &__techStack{
            &--hover{
                &:hover{
                    filter:none;
                }
            }
        }
    }
}