@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.light {
  --color-white: white;
  --color-lightGray: #cccccc;
  --color-gray: #bababa;
  --color-black: #121212;
  --color-purpleToblue: linear-gradient(to right, #8d2ce2, #4b00e0);
  --color-purple: #8d2ce2;
  --color-text: #828282;
  --color-title: #383838;
}

.hero__visual {
  font-weight: 100;
}

h1, p, .popup-message p {
  font-weight: 200;
}

.hero__desc .big {
  font-weight: 300;
}

.about__desc--text, .hero__location span, .portfolio__title, .nav__link a {
  font-weight: 400;
}

h2, h3, .popup-message span, .portfolio__skill {
  font-weight: 500;
}

.hero__visual span, .hero__icon--weChat::before, .email__submit {
  font-weight: 600;
}

.projects__button, .hero__button, .portfolio__button {
  min-width: 7rem;
  font-size: 0.75rem;
  letter-spacing: 0.125rem;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  background: var(--color-gray);
  position: relative;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
.projects__button::before, .hero__button::before, .portfolio__button::before {
  border-radius: 5px;
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  display: flex;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  justify-content: center;
  background: linear-gradient(to right, #8d2ce2, #4b00e0);
  transition: all 0.3s ease-out;
}
.projects__button:hover:before, .hero__button:hover:before, .portfolio__button:hover:before {
  width: 100%;
}
.projects__button:active, .hero__button:active, .portfolio__button:active {
  transform: translateY(2px);
}
.projects__button:focus-within:before, .hero__button:focus-within:before, .portfolio__button:focus-within:before {
  width: 100%;
}

.email {
  z-index: 99;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  right: 0;
  transition: all 0.5s ease-in-out;
}
.email--backDrop {
  width: 100%;
  height: 100%;
}
.email__button {
  position: absolute;
  bottom: 2rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.email__button i {
  pointer-events: none;
  color: var(--color-purple);
  font-size: 1.7rem;
}
.email__wrapper {
  overflow: hidden;
  transition: all 0.3s ease;
  opacity: 0;
  display: none;
  width: 30rem;
  max-height: 40rem;
  background: var(--color-white);
  padding: 1rem;
  border-radius: 5px;
  position: absolute;
  bottom: 6rem;
  right: 1rem;
  box-shadow: 0 0 10px rgba(94, 94, 94, 0.4);
}
.email__input {
  margin: 0.5rem 0;
  width: 100%;
  font-size: 0.75rem;
  min-height: 1.7rem;
  padding-left: 0.5rem;
}
.email__input:focus-visible {
  outline: none;
}
.email__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 5rem;
  height: 2rem;
  cursor: pointer;
  border: none;
  font-size: 0.75rem;
  background: var(--color-purple);
  color: var(--color-white);
  letter-spacing: 0.05rem;
}
@media screen and (max-width: 600px) {
  .email__wrapper {
    width: 90%;
    bottom: 5.5rem;
    left: 1rem;
    right: 0;
  }
  .email__button {
    bottom: 1rem;
    right: 0.5rem;
  }
}

.portfolio {
  width: 100%;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-template-rows: auto;
  grid-column-gap: 4rem;
  grid-row-gap: 2rem;
}
.portfolio__item {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  border-radius: 5px;
}
.portfolio__image {
  position: relative;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  height: 20rem;
  width: 100%;
  overflow: hidden;
}
.portfolio__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
}
.portfolio__image:hover > .portfolio__image--hover {
  opacity: 1;
}
.portfolio__image--hover {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  background: rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease;
}
.portfolio__image--hover:focus-within {
  opacity: 1;
}
.portfolio__button {
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  margin: 0.5rem 0;
  background: var(--color-white);
  box-shadow: 0 2px 7px rgba(53, 53, 53, 0.3);
}
.portfolio__button span {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  display: block;
  position: relative;
  color: black;
  transition: color 0.3s ease;
}
.portfolio__button:hover > span, .portfolio__button:focus-within > span {
  color: var(--color-white);
}
.portfolio__skills {
  display: flex;
  margin-top: 0.5rem;
}
.portfolio__skill {
  display: flex;
  margin-right: 0.5rem;
  text-transform: uppercase;
}
.portfolio__skill--html {
  color: #2d9595;
}
.portfolio__skill--css {
  color: #244b9e;
}
.portfolio__skill--js {
  color: #aa1313;
}
.portfolio__skill--api {
  color: #279b27;
}
.portfolio__title {
  font-size: 1.25rem;
}
@media screen and (max-width: 600px) {
  .portfolio {
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    margin-top: 2rem;
    padding: 0 1rem;
  }
  .portfolio__image {
    height: 15rem;
  }
  .portfolio__image--hover {
    max-width: 100%;
    z-index: 2;
    opacity: 1;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
    background: transparent;
  }
  .portfolio__button {
    background: rgba(68, 65, 68, 0.7);
    letter-spacing: 0;
    width: 100%;
    border-radius: 0;
    margin: 0;
    font-size: 0.625rem;
    padding: 0.5rem 0.2rem;
    box-shadow: none;
  }
  .portfolio__button span {
    color: var(--color-white);
  }
  .portfolio__button:hover span {
    color: var(--color-white);
  }
  .portfolio__button:before {
    all: unset;
  }
  .portfolio__button:first-child {
    border-right: 1px solid var(--color-gray);
  }
}

.popup-message {
  border-radius: 5px;
  position: absolute;
  background: var(--color-purple);
  color: var(--color-white);
  max-width: 22rem;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  top: -10rem;
  left: 0;
  right: 0;
  padding: 1rem;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.popup-message p {
  font-size: 0.875rem;
  line-height: 1.2rem;
  margin-top: 0.5rem;
}
@media screen and (max-width: 600px) {
  .popup-message {
    width: 90%;
  }
}

path {
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

path:nth-child(1) {
  transform-origin: 36% 40%;
}

path:nth-child(2) {
  stroke-dasharray: 29 299;
}

path:nth-child(3) {
  transform-origin: 35% 63%;
}

path:nth-child(4) {
  stroke-dasharray: 29 299;
}

path:nth-child(5) {
  transform-origin: 61% 52%;
}

path:nth-child(6) {
  transform-origin: 62% 52%;
}

.active path:nth-child(1) {
  transform: translateX(9px) translateY(1px) rotate(45deg);
}

.active path:nth-child(2) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
}

.active path:nth-child(3) {
  transform: translateX(9px) translateY(1px) rotate(-45deg);
}

.active path:nth-child(4) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
}

.active path:nth-child(5) {
  transform: translateX(9px) translateY(1px) rotate(-45deg);
}

.active path:nth-child(6) {
  transform: translateX(9px) translateY(1px) rotate(45deg);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus-visible,
a:focus-visible {
  outline: 3px dashed var(--color-purple);
  outline-offset: 5px;
  transition: outline 0.3s ease;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list],
li {
  list-style: none;
}

/* remove anchor decoration*/
a {
  text-decoration: none;
}

/* reset button */
button {
  all: unset;
  /* for IE */
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* remove input autofill color settings*/
/* Set core root defaults */
html,
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: #e0e0e0;
  overflow-x: hidden;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

h1 {
  font-size: 2.1875rem;
  line-height: 4.5rem;
}

h2 {
  font-size: 2rem;
  color: var(--color-title);
  line-height: 4.2rem;
  letter-spacing: -0.05rem;
}

h3 {
  font-size: 1.125rem;
  line-height: 2.8rem;
  color: var(--color-title);
}

p {
  font-size: 1.125rem;
  line-height: 2rem;
}

@media screen and (max-width: 700px) {
  h2 {
    font-size: 1.5rem;
  }
}
.nav {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: rgba(8, 8, 8, 0.8);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  height: 5rem;
  width: 100%;
  box-shadow: 0 3px 5px rgba(8, 8, 8, 0.4);
  transition: top 0.5s ease-in-out;
}
.nav__wrapper {
  margin: 0 1rem;
  height: 100%;
  max-width: 1100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__logo {
  display: flex;
  align-items: center;
  font-family: "Cedarville Cursive", cursive;
  color: var(--color-white);
  font-size: 1.5625rem;
  padding-bottom: 0.5rem;
  transition: color 0.3s ease;
}
.nav__logo:hover {
  color: var(--color-purple);
}
.nav__menu {
  height: 100%;
  display: flex;
  font-size: 0.875rem;
}
.nav__mobile--toggle {
  display: none;
}
.nav__mobile {
  display: none;
}
.nav__link {
  cursor: pointer;
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
}
.nav__link:not(:last-child) {
  margin-right: 2rem;
}
.nav__link a {
  height: 1rem;
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
  color: var(--color-white);
}
.nav__link a::after {
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 0;
  transition: height 0.2s ease-in-out;
  background: linear-gradient(to right, #8d2ce2, #4b00e0);
}
.nav__link:hover a, .nav__link:focus-within a {
  color: var(--color-purple);
}
.nav__link:hover a::after, .nav__link:focus-within a::after {
  height: 4px;
}
@media screen and (max-width: 600px) {
  .nav {
    background: #080808;
    z-index: 999;
  }
  .nav__logo {
    width: 3rem;
    position: absolute;
    justify-content: center;
    margin: 0 auto;
    right: 0;
    left: 0;
  }
  .nav__logo:hover {
    color: var(--color-white);
  }
  .nav__menu {
    display: none;
  }
  .nav__mobile--toggle {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .nav__mobile--toggle svg {
    pointer-events: none;
  }
  .nav__mobile {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    top: 5rem;
    right: -100%;
    background: rgba(0, 0, 0, 0.9);
    transition: right 0.5s ease-in-out;
  }
  .nav__mobile a {
    margin: 1rem 0;
    color: var(--color-white);
  }
  .nav__mobile a:first-child {
    margin-top: 7rem;
  }
  .nav__mobile a:nth-child(2) {
    margin-bottom: 5rem;
  }
  .nav__mobile span {
    position: relative;
    font-size: 3.75rem;
    padding-top: 4.5rem;
  }
  .nav__mobile span::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    background: var(--color-white);
  }
}

.hero {
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  background: url(../images/hero-bg-desktop.jpg) no-repeat center/cover;
}
.hero::before {
  z-index: 1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}
.hero__wrapper {
  margin: 0 2rem;
  z-index: 2;
  max-width: 1100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--color-white);
  text-align: center;
}
.hero__visual {
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
}
.hero__visual span {
  background: -webkit-gradient(linear, left bottom, right top, from(#8d2ce2), to(#675add));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero__desc {
  margin-bottom: 2.5rem;
}
.hero__desc .big {
  font-size: 2.5rem;
  margin: 0.2rem;
}
.hero__desc span {
  opacity: 0;
  transition: all 1s linear;
}
.hero__desc span.animation {
  opacity: 1;
}
.hero__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 2.5rem;
}
.hero__button {
  display: flex;
  justify-content: center;
  width: 10rem;
  text-align: center;
  margin: 0.4rem 1rem;
  position: relative;
}
.hero__button span {
  display: block;
  position: relative;
  color: var(--color-black);
  transition: color 0.3s ease;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
.hero__button:hover > span, .hero__button:focus-within > span {
  color: var(--color-white);
}
.hero__links {
  display: flex;
  position: relative;
  height: 7rem;
  align-items: center;
}
.hero__links::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 1px;
  width: 4rem;
  background: var(--color-white);
}
.hero__links::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 1px;
  width: 4rem;
  background: var(--color-white);
}
.hero__icon {
  display: flex;
  margin: 0 0.8rem;
  color: var(--color-white);
  font-size: 2rem;
  transition: transform 0.4s ease-in-out;
}
.hero__icon:hover:not(.hero__icon--weChat) {
  transform: rotate(360deg);
}
.hero__icon--weChat {
  cursor: pointer;
  outline: none;
}
.hero__icon--weChat::before {
  border-radius: 5px;
  pointer-events: none;
  content: "ID : loveranma";
  display: flex;
  position: absolute;
  font-size: 0.75rem;
  color: var(--color-white);
  right: 0;
  top: -2rem;
  align-items: center;
  padding: 0 1rem;
  width: 7.7rem;
  height: 3rem;
  background: var(--color-purple);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.hero__icon--weChat::after {
  pointer-events: none;
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  right: 1rem;
  top: 1rem;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 8px solid var(--color-purple);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.hero__icon--weChat:hover:before, .hero__icon--weChat:hover:after, .hero__icon--weChat:focus-within:before, .hero__icon--weChat:focus-within:after {
  opacity: 1;
}
.hero__address {
  margin-top: 2.4rem;
}
.hero__location {
  font-style: normal;
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.03125rem;
}
.hero__location span {
  font-size: 0.875rem;
}

.about {
  margin: 5rem auto;
  display: flex;
  justify-content: center;
  position: relative;
}
.about__wrapper {
  margin: 0 1rem;
  max-width: 1100px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about__profile {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about__image {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  cursor: pointer;
  border-radius: 5px;
  flex: 0 1 25rem;
  overflow: hidden;
}
.about__image img {
  transition: transform 1s ease;
  -o-object-fit: contain;
     object-fit: contain;
}
.about__image:hover > img {
  transform: scale(1.1);
}
.about__info {
  flex: 1;
  margin-top: 1rem;
  margin-left: 5rem;
  padding-left: 5rem;
  display: flex;
  justify-content: center;
  position: relative;
  text-align: left;
}
.about__info::before {
  content: "";
  display: flex;
  height: 8rem;
  width: 1px;
  top: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  margin: auto 0;
  background: var(--color-lightGray);
  position: absolute;
}
.about__desc {
  width: 100%;
}
.about__desc--highlight, .projects__title--highlight {
  color: var(--color-purple);
}
.about__desc--text {
  color: var(--color-text);
  line-height: 1.6rem;
  font-size: 0.875rem;
  margin-bottom: 1.5rem;
}
.about__techStack {
  display: flex;
  font-size: 2.5rem;
  transition: all 0.3s linear;
}
.about__techStack:not(:last-child) {
  margin-bottom: 1.5rem;
}
.about__techStack--hover {
  display: block;
  transition: all 0.2s linear;
  margin-right: 1.5rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#6b6b6b), to(#510e90));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 50% 400%;
}
.about__techStack--hover:hover {
  background-size: 100% 120%;
  filter: brightness(1.4);
}
@media screen and (max-width: 881px) {
  .about {
    margin: 2rem 0;
  }
  .about__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about__desc--highlight, .projects__title--highlight {
    color: var(--color-purple);
  }
  .about__desc--text {
    line-height: 1.6rem;
    font-size: 0.875rem;
  }
  .about__image {
    margin-bottom: 1rem;
    max-height: 15rem;
    flex: auto;
  }
  .about__image img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .about__info {
    flex: auto;
    padding: 0;
    margin: 1rem 0;
    text-align: center;
  }
  .about__info::before {
    content: "";
    display: flex;
    height: 1px;
    width: 8rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    margin: 0 auto;
    background: var(--color-lightGray);
    position: absolute;
  }
}

.projects {
  margin: 7rem auto 5rem;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}
.projects__wrapper {
  margin: 0 1rem;
  max-width: 1100px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.projects__title {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: left;
  width: 100%;
  flex-wrap: wrap;
  line-height: 2rem;
}
.projects__title::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1rem;
  left: 0;
  right: 0;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 1px;
  background: var(--color-lightGray);
}
.projects__title--highlight {
  margin-right: 0.5rem;
}
.projects__title--small {
  display: flex;
  line-height: 1rem;
  padding-left: 1rem;
  min-width: 21rem;
  letter-spacing: 0.02rem;
  font-size: 0.75rem;
  color: var(--color-text);
}
.projects__button {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #8d2ce2, #4b00e0);
  padding: 0.7rem 1.5rem;
  letter-spacing: 0.42rem;
  text-transform: uppercase;
  width: 10rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
.projects__button span {
  color: var(--color-white);
}
.projects__button:before {
  all: unset;
}
.projects__button i {
  color: var(--color-white);
  display: flex;
  width: 10px;
  align-items: center;
  margin-left: 0.7rem;
  transition: transform 0.4s ease-in;
}
.projects__button:hover i, .projects__button:focus-within i {
  transform: translateX(1rem);
}
@media screen and (max-width: 600px) {
  .projects__wrapper {
    margin: 0;
  }
  .projects__title {
    justify-content: center;
    text-align: center;
  }
  .projects__title:after {
    content: "";
    position: absolute;
    display: block;
    top: -4rem;
    left: 0;
    right: 0;
    justify-content: center;
    margin: 0 auto;
    width: 10rem;
    height: 1px;
    background: var(--color-lightGray);
  }
  .projects__title--small {
    display: flex;
    justify-content: center;
    padding: 0;
    line-height: 1.5rem;
  }
}

.footer {
  height: 5rem;
  background: var(--color-black);
}
.footer__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.footer__text {
  color: var(--color-white);
  font-size: 0.75rem;
  letter-spacing: 0.05rem;
}
.footer__text span {
  padding-right: 1rem;
  font-size: 1.25rem;
}/*# sourceMappingURL=main.css.map */